* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: black;
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url(bg.jpg) 0 0 no-repeat;
  background-size: cover;
  opacity: 0.33;
  filter: blur(3px);
}
